body {
  font-family: "Arial", sans-serif;
}

.error {
  color: firebrick;
  background-color: lightsalmon;
  padding: 10px;
  margin: 20px auto 20px 0;
  width: fit-content;
  border: 2px solid firebrick;
  border-radius: 10px;
}

.success {
  color: green;
  background-color: greenyellow;
  padding: 10px;
  margin: 20px auto 20px 0;
  width: fit-content;
  border: 2px solid green;
  border-radius: 10px;
}

button {
  display: inline-block;
  margin: 10px;
}

.del-btn {
  margin-left: 0;
  background-color: red;
  color: #fff;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
}
.del-btn:hover {
  background-color: #fff;
  color: red;
  border: 1px solid red;
}
